/*:root {
  --font-heading-1: 2.2rem;
  --font-heading-2: 1.8rem;
  --font-heading-3: 1.5rem;
  --font-paragraph: 1rem;
  --font-list-item: 2.2rem;
  --line-height-heading: 1.2;
  --line-height-paragraph: 1.8;
  --line-height: 1;
  --margin-bottom: 8px;
  
}

.header.fixed + .bn-default-styles {
  padding-top: var(--header-height-write);
}

/* Universal Default Styles 
.bn-default-styles {
  display: flex;
  flex-direction: column;
  font-family: "Brygada 1918", "Noto Serif Display" !important;
}

/* Universal Content Block Styles 
.bn-block [data-content-type="heading"][data-level="1"],
.bn-block [data-content-type="paragraph"],
.bn-block [data-content-type="list-item"] {
  line-height: var(--line-height-paragraph);
  margin-bottom: var(--margin-bottom-small);
  
}

.bn-block [data-content-type="heading"][data-level="1"] {
  font-size: var(--font-heading-1) !important;
  line-height: 1;
  margin-bottom: var(--margin-bottom-large);
}

.bn-block [data-content-type="heading"][data-level="2"] {
  font-size: var(--font-heading-2) !important;
}

.bn-block [data-content-type="heading"][data-level="3"] {
  font-size: var(--font-heading-3) !important;
}

.bn-block [data-content-type="paragraph"] {
  font-size: var(--font-paragraph) !important;
}

.bn-block [data-content-type="list-item"] {
  font-size: var(--font-list-item) !important;
}
.bn-block {
  margin-bottom: var(--margin-bottom);
}
.bn-block [data-content-type="heading"][data-level="1"]{
  margin-bottom: 25px;
}

/* Responsive Styles 
@media (max-width: 430px) {
  .bn-default-styles {
    margin: 2rem 0;
    padding: var(--editor-padding) 2rem;
    width: 90%;
  }
  .bn-block [data-content-type="image"] {
    width: auto !important;
    
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .bn-default-styles {
    margin: 1rem 4rem;
    padding: var(--editor-padding) 3rem;
    width: 70%;
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .bn-default-styles {
    display: flex;
    flex-wrap: wrap;
    border: solid thin purple;
    margin: 2rem 18rem;
    padding: var(--editor-padding) var(--editor-padding);
    max-width: 45rem;
  }
  
}

@media (min-width: 1500px) {
  .bn-default-styles {
    margin: 2rem 40rem;
    padding: var(--editor-padding) 40rem;
  }

  .bn-block [data-content-type="heading"][data-level="1"] {
    font-size: 2.5rem !important;
  }

  .bn-block [data-content-type="heading"][data-level="2"] {
    font-size: 1.8rem !important;
  }

  .bn-block [data-content-type="heading"][data-level="3"] {
    font-size: var(--font-heading-3) !important;
  }

  .bn-block [data-content-type="paragraph"],
  .bn-block [data-content-type="list-item"] {
    font-size: var(--font-paragraph) !important;
  }
}*/

