


/* Styles for larger screens (PCs, Macs, etc.) */
@media (min-width: 1025px) {
    .home {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        width: 68%;
        flex-grow: 1;
        overflow-y: scroll;
        
    }
    .homepage {
        display: flex;
        height: 100vh;
        flex-direction: row;
        
    }
}

/* Styles for tablets (iPads, Android tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        flex-grow: 1;
        overflow-y: scroll;
        
    }
    .homepage {
        display: flex;
        height: 100vh;
        flex-direction: row;
        
    }
}

/* Styles for mobile devices (iPhones, Samsung Galaxy, etc.) */
@media (max-width: 767px) {
    .home {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: .7rem;
        flex-grow: 1;
        overflow-y: scroll;
        
    }
    .homepage {
        display: flex;
        height: 100vh;
        flex-direction: row;
        
    }
}

