@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@800&display=swap');

:root {
  --border-color: rgb(224, 223, 223);
  --header-height: 62px;
  --header-height-write: 29px;
  --menu-margin-left: 1rem;
  --menu-font-size-large: 1.7rem;
  --menu-font-size-small: 1.5rem;
}

* {
  margin: 0;
  padding: 0;

}
html {

}
body {
  font-family: 'Inter', 'Helvetica';
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  padding: .6rem;
  border-bottom: solid thin var(--border-color);
}

.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header.fixed + .homepage {
  padding-top: var(--header-height);
}
.header.fixed + .writeEditor-container {
  top: var(--header-height-write);
}

.navigation-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2rem;
}

.navlink {
  text-decoration: none;
  color: black;
}

.menu {
  display: none;
}

/* Tablet Breakpoints */
@media (min-width: 768px) and (max-width: 1024px) {
  .menu {
    margin-left: var(--menu-margin-left);
    font-size: var(--menu-font-size-large);
    display: block;
  }
}

/* Small Mobile Devices */
@media (max-width: 427px) {
  .menu {
    margin-left: var(--menu-margin-left);
    font-size: var(--menu-font-size-small);
    display: block;
  }
}

/* Medium Mobile Devices */
@media (min-width: 428px) and (max-width: 450px) {
  .menu {
    margin-left: 4rem;
    font-size: var(--menu-font-size-small);
    display: block;
  }
}